namespace <#= this.Context.Namespace #>
{<# foreach(var import in this.Context.Imports) { #>
	using <#= string.Format(@"{0};", import) #>
<# } #>
	/// <summary>
	/// <#= string.Format(@"{0} のエンティティを表します。", this.Context.TypeName) #>
	/// </summary>
	public<#= this.Context.IsPartial ? @" partial" : @"" #> class <#= this.Context.TypeName #>
	{<#	foreach(var column in this.Context.Columns) { #>
<#@			include file="t4\EntityPropertyTemplate.t4" #>
<#		} #>
	}
}
