################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/kkkkkkaaaaaa.VisualStudio.TextTemplating.2013.v12.suo
/TextTemplating.2013/obj
/TextTemplating.2013/bin
/TextTemplating.2013/TextTemplating.2013.csproj.user
/.vs
/TextTemplating.Windows/bin
/TextTemplating.Windows/obj
/TextTemplating/bin
/TextTemplating/obj
/TextTemplating.Xunit/obj
/TextTemplating.Xunit/bin
/Externals/kkkkkkaaaaaa/kkkkkkaaaaaa.pdb
/packages
/TextTemplating/obj
