################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/kkkkkkaaaaaa.VisualStudio.TextTemplating.2013.v12.suo
/TextTemplating.2013/obj
/TextTemplating.2013/bin
/TextTemplating.2013/TextTemplating.2013.csproj.user
/TextTemplating.Xunit/TextTemplating.Xunit.2013.csproj.user
/TextTemplating.Xunit/bin/Debug
/TextTemplating.Xunit/obj/Debug
/TextTemplating.Windows/bin/Debug
/TextTemplating.Windows/obj/Debug
/TextTemplating/obj
/TextTemplating/bin
