<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <connectionStrings>
    <add name="wwi" connectionString="Data Source=(local);Initial Catralog=;Integrated Security=True"/>
    <add name="redmine" connectionString="Server=10.10.3.38; Database=bitnami_redmine; Port=3306; Uid=bitnami; Pwd=99cd803b90"/>
    <add name="db3" connectionString="Data Source=C:\Program Files\EVSoft\ETS Shop Client\ETSShopClientCache.db3"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    <remove invariant="MySql.Data.MySqlClient"/><add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/></DbProviderFactories>
  </system.data>
</configuration>
