<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="wwi" connectionString="Data Source=(local);Initial Catralog=;Integrated Security=True"/>
    <add name="ets" connectionString=""/>
    <add name="db3" connectionString="Data Source=C:\Program Files\EVSoft\ETS Shop Client\ETSShopClientCache.db3"/>
    <add name="clientCache" connectionString="C:\Program Files\EVSoft\ETS Shop Client\ETSShopClientCache.db3" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider"
           invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>